@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.toast-message {
  background: #171618;
  color: #fff;
  font-size: 15px;
}

.body {
  background-image: url("background.jpg");
}

.stroked {
  color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  margin-top: 0px;
}

.bottom {
  color: #e06544;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  font-size: 80px;
  font-style: italic;
  padding-bottom: 2rem;
}

.btn-ghost {
  height: 5rem;
}

.vanta {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.navbar {
  border-radius: 10px;
}

.secmain {
  position: sticky;
}

.logo {
  width: 300px;
  height: 300px;
  margin-left: 0rem;
  margin-right: -1rem;
}

.video {
  height: 100vh;
  width: 100vw;
}

.sep {
  box-shadow: 0 0 1000px 70px #d46244;
}
